body
{
    width: 300px;
    margin: auto;
}

h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    margin: auto;
}

img
{
    float: left;
    height: 100px;
    width: 100px;
}

div
{
    width: 300px;
    margin: auto;
}

.divImage
{
    background-color: yellow;
}

.divButton
{
    background-color: red;
}

button
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    padding: 10px;
}

button:hover
{
    background-color: rgb(50, 170, 0);
}

button:active, button:visited
{
    font: bolder;
    background-color: rgb(169, 255, 185);
    color:black;
}

th,table,tr
{
    border: 2px solid black;
    border-collapse: collapse;
}

