body
{
    background-color: black;
}

.mainTitle
{
    padding: 30px;
    width: auto;
    
    background-color: rgb(61, 46, 27);
    color: wheat;

    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container
{
    font-size: 22px;
    width: 71px;

    list-style-type: none;
    justify-content: right;
    align-items: end;
    text-align: end;
}
#container:hover
{
    width: 220px;
}
#container:hover .sideText
{
    visibility: visible;
}

.slide
{
    padding-bottom: 22px;
    padding-top: 22px;
    padding-right: 20px;

    background-color: rgb(61, 46, 27);
    color: wheat;
    
    font-family: monospace;
    display: flex;
    justify-content: end;
    align-items: center;
}
.slide:hover
{   
    color: rgb(61, 46, 27);
    background-color: rgb(255, 215, 162);
}

.sideIcons
{   
    width : 30px;
    height: 30px;
    padding-left: 12px;
}

.sideText
{
    visibility: hidden;
}

aside
{
    float: right;
}

a, a:hover, a:visited
{
    text-decoration: none;
    color: wheat;
}