*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    font-family: test;
}

:root
{
    --tone1: #ECDFCC;
    --tone2: #3C3D37;
    --tone3: #181C14;
    --tone4: #697565;
    --text: #f0ebe8;
}

@font-face {
    font-family: test;
    src: url(Inter.ttf);
}

body
{
    background-color: var(--tone1);
    display : flex;
    flex-direction: column;
    min-height: 100vh;
}

main
{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
}

main #side-container
{
    justify-content: flex-start;
}

.mainTitle
{
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: large;
    
    background-color: var(--tone2);
    color: var(--text);

    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#side-container
{
    font-size: 22px;
    width: 230px;

    list-style-type: none;
    justify-content: left;
    align-items: start;
    text-align: start;
    display: inline-block;
}

#home
{
    border-top-right-radius: 20px;
}
#info
{
    border-bottom-right-radius: 20px;
}

#display-container
{
    padding: 15px 0 0 0;
    border-radius: 20px;
    width: 1260px;
    height: 680px;
    transform: translateY(100px);
    
    opacity: 0;
    color : var(--text);
    background-color: var(--tone2);
    transition: all ease-in-out 150ms;
    flex-direction: row;
}
#display-container.show
{
    transform: translateY(0);
    opacity: 1;
}

.sectionContent
{
    height: 95%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#upText
{
    font-size: 18px;

    text-align: center;
}

#powerSection
{
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn
{
    margin: 5px 0 10px 0;
    font-size: 30px;
    border-radius: 25px;
    flex-shrink: 0;

    color : var(--text);

    transition: all ease-in-out 150ms;
    border: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn:hover
{
    background-color: var(--tone3);
    cursor: pointer;
}

.homeButton
{
    width: 250px;
    height: 100px;

    background-color: var(--tone4);
}

#powerSection > p
{
    margin-top: 10px;
    font-size: 18px;
}   
#powerSection img
{
    padding-right: 10px;
    height: 32px;
    flex-direction: row;
    align-items: center;
}

label, .textLabels
{
    margin: 10px 0 10px 0;
}

.thickness
{
    -webkit-appearance: none;

    background-color: var(--tone4);
    
    width: 253px;
    border-radius: 20px;
    margin: 0 0 10px 0;
    border: 3px solid var(--tone3);
    
    background: linear-gradient(
        to right, 
        var(--tone4) 10px, 
        var(--tone3) 11px
    );
    background-size: 11px 100%;
}
.thickness:hover
{
    cursor: pointer;
}
.thickness::-moz-range-thumb
{
    background: var(--tone2);
    width: 11px;
    height: 20px;
    border: none;
}
.thickness::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--tone2);
    width: 11px;
    height: 20px;
    border: none;
    margin-top: -3px;
}
#startContent
{
    text-align: center;
}
#startContent p
{
    font-weight: bold;
}

table, td, th
{
    background-color: var(--tone4);
    text-align: center;
    border: 2px solid black;
}

table {border-collapse: collapse;}

#duration {padding: 0 15px 0 15px;}

#powerSection th, td
{
    padding: 15px 20px 15px 20px;
}

#recentTable
{
    padding-left: 255px;
}

#alarmContainer
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#alarmSection
{
    height: 95%;
    width: 100%;
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#newAlarm
{
    width: 250px;
    height: 75px;
    font-size: 18px;

    background-color: var(--tone4);
}
#newAlarm:hover
{
    background-color: var(--tone3);
    cursor: pointer;
}
#newAlarm::before
{
    image
}

#alarms
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
    transform: translateX(50%);

    gap: 20px;
    flex: 1;
    
    transition: all ease-in-out 150ms;
}
#alarms.show
{
    transform: translateX(0);
}

#alarmForm
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#alarmEditor
{
    width: 50%;
    height: 85%;
    margin: 0 20px 0 0;
    padding: 25px 0 25px 0;
    border-radius: 20px;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: all ease-in-out 150ms;
    
    background-color: var(--tone4);
    transform: translateX(-50%);
}
#alarmEditor.show
{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

#editorContent
{
    height: calc(100% - 50px);
    
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#getTime
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
}
#getTime h1
{
    font-size: 55px;
}

.getTimeElement
{
    width: 100px;
    height: 90px;
    border-radius: 25px;
    font-size: 55px;
    flex-shrink: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--tone2);
    color: var(--text);
}

#getRepeat
{
    gap: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.repeatButtons
{
    width: 50px;
    height: 50px;
    font-size: 18px;

    -webkit-appearance: none;

    background-color: var(--tone2);
}
.repeatButtons:checked
{
    background-color: var(--tone3);
}
.repeatButtons::before
{
    content: attr(name);
    color: var(--text);
    font-weight: bold;
}

#getName
{
    width: 350px;
    height: 50px;
    font-size: 23px;
    border-radius: 15px;

    background-color: var(--tone2);
    color: var(--text);

    text-align: center;
    font-weight: bold;
}
#changeLabel:focus
{
    outline: none;
    background-color: var(--tone3);
}

#saveAlarm
{
    width: 130px;
    height: 60px;
    border-radius: 20px;
    font-size: 23px;

    font-weight: bold;
    text-align: center;

    background-color: var(--tone2);
    color: var(--text);
    transition: all ease-in-out 150ms;
}
#saveAlarm:hover
{
    cursor: pointer;
    background-color: var(--tone3);
}

.alarmObject
{
    font-size: 18px;
    width: 550px;
    border-radius: 20px;
    background-color: var(--tone4);
}
.alarmName
{
    margin: 15px 0 15px 20px;
}
.alarmHour
{
    margin: 0 0 0 15px;
    font-size: 40px;
}
.alarmRepeat
{
    margin: 15px 0 15px 20px;
}
.alarmInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.alarmData
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alarmCheckbox:checked + .slider::after
{
    transform: translateX(40px);
}

.alarmCheckbox:checked + .slider
{
    background-color: var(--tone3);
}

.switch
{
    display: flex;
    position: relative;
    cursor: pointer;
    background-color: var(--tone2);

    margin: 0 20px 0 0;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
.slider 
{
    position: absolute;
    background-color: var(--tone2);

    inset: 0;
    border-radius: 20px;

    transition: background-color 150ms;
}
.slider::after
{
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
    background-color: var(--text);

    position: absolute;

    transition: all ease-in-out 150ms;
}

.sections
{
    padding-bottom: 30px;
    padding-top: 30px;

    background-color: var(--tone2);
    color: var(--text);
    
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all ease-in-out .2s;
}
.sections:hover
{   
    background-color: var(--tone3);
    cursor: pointer;
}

.active
{
    background-color: var(--tone4);
    color: var(--text);
}

a, a:hover, a:visited
{
    text-decoration: none;
}

