*
{
    padding: 0;
    margin: 0;
    font-family: test;
}

:root 
{
    --tone1: #ECDFCC;
    --tone2: #3C3D37;
    --tone3: #181C14;
    --tone4: #697565;
    --text: #f0ebe8;
}

@font-face {
    font-family: test;
    src: url(Inter.ttf);
}

body
{
    background-color: var(--tone1);
    display : flex;
    flex-direction: column;
    min-height: 100vh;
}

main
{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
}

main #side-container
{
    justify-content: flex-start;
}

.mainTitle
{
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: large;
    
    background-color: var(--tone2);
    color: var(--text);

    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#side-container
{
    font-size: 22px;
    width: 230px;

    list-style-type: none;
    justify-content: left;
    align-items: start;
    text-align: start;
    display: inline-block;
}

#home
{
    border-top-right-radius: 20px;
}
#info
{
    border-bottom-right-radius: 20px;
}

#display-container
{
    border-radius: 20px;
    width: 1260px;
    height: 680px;
    transform: translateY(100px);
    
    opacity: 0;
    color : var(--text);
    background-color: var(--tone2);
    transition: all ease-in-out 200ms;
    flex-direction: row;
}
#display-container.show
{
    transform: translateY(0);
    opacity: 1;
}

.sectionContent
{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#upText
{
    padding-top: 15px;
    font-size: 18px;

    text-align: center;
}

#powerSection
{
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeButton
{
    padding: 35px 30px 35px 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 15px;
    width: 250px;

    background-color: var(--tone4);
    color : var(--text);
    
    transition: all ease-in-out 150ms;
    border: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.homeButton:hover
{
    cursor: pointer;
    background-color: var(--tone3);
}

#powerSection > p
{
    margin-top: 10px;
    font-size: 18px;
}
#powerSection img
{
    padding-right: 10px;
    height: 32px;
    flex-direction: row;
    align-items: center;
}

#thickness
{
    -webkit-appearance: none;

    background-color: var(--tone4);
    
    width: 253px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid var(--tone3);
    
    background: linear-gradient(
        to right, 
        var(--tone4) 10px, 
        var(--tone3) 11px
    );
    background-size: 11px 100%;
}
#thickness:hover
{
    cursor: pointer;
}
#thickness::-moz-range-thumb
{
    background: var(--tone2);
    width: 11px;
    height: 20px;
    border: none;
}
#thickness::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--tone2);
    width: 11px;
    height: 20px;
    border: none;
    margin-top: -3px;
}
#startContent
{
    text-align: center;
}

table, td, th
{
    background-color: var(--tone4);
    text-align: center;
    border: 2px solid black;
}

table {border-collapse: collapse;}

#duration {padding: 0 15px 0 15px;}

#powerSection th, td
{
    padding: 15px 20px 15px 20px;
}

#recentTable
{
    padding-left: 255px;
}

#newAlarm
{
    padding: 30px 40px 30px 0;
    border-radius: 10px;
    font-size: 20px;
    
    background-color: var(--tone4);
    color: var(--text);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 150ms;
}
#newAlarm:hover
{
    background-color: var(--tone3);
    cursor: pointer;
}

#alarmContainer
{
    width: 1000px;
    height: 550px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.sections
{
    padding-bottom: 30px;
    padding-top: 30px;

    background-color: var(--tone2);
    color: var(--text);
    
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all ease-in-out .2s;
}
.sections:hover
{   
    background-color: var(--tone3);
    cursor: pointer;
}

.active
{
    background-color: var(--tone4);
    color: var(--text);
}

.sideIcons
{   
    padding-left: 20px;
    padding-right: 15px;
}

a, a:hover, a:visited
{
    text-decoration: none;
}

