@import url(index.css);

.upText
{
    font-size: 18px;

    text-align: center;
}

.btn
{
    margin: 5px 0 10px 0;
    font-size: 30px;
    border-radius: 25px;
    flex-shrink: 0;

    color : var(--text);

    transition: all ease-in-out 150ms;
    border: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn:hover
{
    background-color: var(--tone3);
    cursor: pointer;
}

.switch
{
    display: flex;
    position: relative;
    cursor: pointer;
    background-color: var(--tone2);

    margin: 0 20px 0 0;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
.slider 
{
    position: absolute;
    background-color: var(--tone2);

    inset: 0;
    border-radius: 20px;

    transition: background-color 150ms;
}
.slider::after
{
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
    background-color: var(--text);

    position: absolute;

    transition: all ease-in-out 150ms;
}

