@import url(index.css);

#home
{
    border-top-right-radius: 20px;
}

#powerSection
{
    width: 50%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeButton
{
    width: 250px;
    height: 100px;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;

    background-color: var(--tone4h5);
    z-index: 10;
    overflow: hidden;
    border: none;
}

#powerButton
{
    text-align: center;
    transition: all ease-in-out 150ms;
}
#powerButton:hover .buttonShape
{
    opacity: 0.2;
}

#powerSection > p
{
    margin-top: 10px;
    font-size: 18px;
}   
#powerSection img
{
    padding-right: 10px;
    height: 32px;
    flex-direction: row;
    align-items: center;
}

label, .textLabels
{
    margin: 10px 0 10px 0;
}

#startContent
{
    text-align: center;
    position: absolute;
    pointer-events: none;
    transform: translateY(-70%);
    opacity: 0;

    transition: all ease 150ms;
}
#startContent p
{
    font-weight: bold;
}
#startContent.show
{
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;
    position: relative;
}

#grindMeasurements
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;

    gap: 20px;
    height: 55%;
    width: 10%;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 10px;
    opacity: 0;

    background-color: var(--tone4);
    transform: translateY(-30%);
    transition: all ease-in-out 150ms;
}
#grindMeasurements.show
{
    opacity: 1;
    width: 50%;
    transform: translateY(0);
    pointer-events: initial;
    position: relative;
}

.measurement
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 29%;
}

#measurementLabel
{
    font-size: 30px;
    opacity: 0;
    pointer-events: none;
}
#measurementLabel.show
{
    opacity: 1;
    pointer-events: initial;
}

table, td, th
{
    background-color: var(--tone4);
    text-align: center;
    border: 2px solid black;
}

th
{
    height: 40px;
    width: 105px;
    position: sticky;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

#duration {padding: 0 15px 0 15px;}

#powerSection th, td
{
    padding: 15px 20px 15px 20px;
}

#recentTable
{
    padding-left: 150px;
    overflow-y: auto;
    max-height: 500px;
    align-items: start;
    height: 500px;
}

.activeButton {background-color: var(--tone3);}
.activeButton > .buttonShape{opacity: 0.3;}

.sideIcons
{
    margin: 0 10px 0 0;
    width: 32px;
    height: 32px;
}

.buttonLabel
{
    position: relative;
    z-index: 10;
}

#buttonContainer
{
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.buttonShape
{
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 130px;
    border-radius: 75%;
    gap: 20px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    filter: blur(18px);
    opacity: 0.5;

    transition: all ease-in-out 150ms;
}

#shape1
{
    background-color: var(--buttonColor1);
    transform: translate(-90px, -40px);
    animation: shape1 10s linear infinite;
}
#shape2
{
    background-color: var(--buttonColor2);
    transform: translate(-60px, 40px);
    animation: shape2 10s linear infinite;
}
#shape3
{
    background-color: var(--buttonColor3);
    transform: translate(60px, -40px);
    animation: shape3 10s linear infinite;

}
#shape4
{
    background-color: var(--buttonColor4);
    transform: translate(70px, 40px);
    animation: shape4 10s linear infinite;
}

@keyframes shape1
{
    0%, 100%  { transform: translate(-90px, -40px);} /*1*/
    25% { transform: translate(50px, -40px);}  /*3*/
    50% { transform: translate(90px, 40px);}   /*4*/
    75% { transform: translate(-30px, 40px);}  /*2*/
}
@keyframes shape2
{
    0%, 100%  { transform: translate(-30px, 40px);} 
    25% { transform: translate(-90px, -40px);} 
    50% { transform: translate(50px, -40px);}  
    75% { transform: translate(90px, 40px);}
}
@keyframes shape3
{
    0%, 100%  { transform: translate(50px, -40px);} 
    25% { transform: translate(90px, 40px);}  
    50% { transform: translate(-30px, 40px);} 
    75% { transform: translate(-90px, -40px);}
}
@keyframes shape4
{
    0%, 100%  { transform: translate(90px, 40px);}  
    25% { transform: translate(-30px, 40px);} 
    50% { transform: translate(-90px, -40px);} 
    75% { transform: translate(50px, -40px);}
}
