*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    font-family: test;
}

@font-face 
{
    font-family: "test";
    src: url("../Inter.woff2") format("truetype");
    font-style: normal;
    font-display: swap;
}

:root
{
    --tone1: #ECDFCC;
    --tone2: #3C3D37;
    --tone3: #181C14;
    --tone4: #697565;
    --text: #f0ebe8;
}

body
{
    font-family: "test";
    background-color: var(--tone1);
    display : flex;
    flex-direction: column;
    min-height: 100vh;
}

a, a:hover, a:visited
{
    text-decoration: none;
}

.mainTitle
{
    background-color: var(--tone2);
    color: var(--text);
    display: flex;
    flex-direction: row;
}

#title
{
    justify-content: center;
    position: absolute;
}

#realTime
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    margin-right: 30px;
}