@import url(index.css);

#info
{
    border-bottom-right-radius: 20px;
}

#infoContainer
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 300px;
}

#usageInfo
{
    background-color: var(--tone4);
    width: auto;
    padding: 20px;
    border-radius: 20px;
}

#networkData
{
    background-color: var(--tone4);
    width: 300px;
    height: 370px;
    padding: 20px;
    border-radius: 20px;
}

#usageContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#eraseData
{
    width: 100%;
    background-color: var(--tone4);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoData
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.infoData > p, .eraseButton > p
{
    font-size: 25px;
}

.infoNetwork
{
    font-size: 25px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.infoDataESP
{
    font-size: 22px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eraseButton
{
    width: auto;
    padding: 10px 20px 10px 20px;
    height: 70px;
    background-color: var(--tone2);
}

.upText > h3
{
    margin-bottom: 10px;
}