@import url(index.css);

#alarmContainer
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#alarmSection
{
    height: 95%;
    width: 100%;
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#newAlarm
{
    width: 250px;
    height: 75px;
    font-size: 20px;
    gap: 10px;

    background-color: var(--tone4h5);
}
#newAlarm:hover
{
    background-color: var(--tone4);
    cursor: pointer;
}
#newAlarm::before
{
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAZElEQVRYR+2WSQoAMAgD6/8f3Q3sqVsKxct4ViMDRi09RK4xK7Maaju5YCXuwuoQDAABCEAAAp3AyV5Vf7/Nb7ZtUeLjdjAABMIJhK/h7c563okYLxkEIAABCHwnsLsdqnjrVQBAm4AJubvCowAAAABJRU5ErkJggg==);
}

#alarms
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    gap: 20px;
    scroll-padding-top: 20px;
    scroll-padding-bottom: 20px;
    height: 81%;
    transform: translate(45%);
    flex: 1;
    
    transition: all ease-in-out 150ms;
}
#alarms.show
{
    transform: translateX(0);
    margin: 0 0 0 15px; 
}

#alarmForm
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#alarmEditor
{
    width: calc(85% - 550px);  
    height: 85%;
    margin: 0 20px 0 20px;
    padding: 25px 0 25px 0;
    border-radius: 20px;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: all ease-in-out 150ms;

    transform: translateX(-50%);
    background-color: var(--tone3);
}
#alarmEditor.show
{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);

}

#editorContent
{
    height: calc(100% - 50px);
    width: 100%;
    
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#getTime
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
}
#getTime h1
{
    font-size: 55px;
}

.getTimeContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.getTimeButton
{
    width: 100px;
    height: 90px;
    border-radius: 25px;
    font-size: 55px;
    flex-shrink: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--tone4h5);
    color: var(--text);
    transition: all ease-in-out 150ms;
    pointer-events: none;
}

.timeArrow
{
    width: 32px;
    height: 32px;
    content: url(../assets/arrow.ico);
    user-select: none;

    transition: all ease-in-out 150ms;
}
.timeArrow:hover
{
    cursor: pointer;
}
.down
{
    rotate: 180deg;
}

#getRepeat
{
    gap: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.repeatButtons
{
    width: 50px;
    height: 50px;
    font-size: 18px;

    -webkit-appearance: none;
    appearance: none;

    background-color: var(--tone2);
}
.repeatButtons:checked
{
    background-color: var(--tone4);
}
.repeatButtons::before
{
    content: attr(name);
    color: var(--text);
    font-weight: bold;
}

#getName
{
    width: 350px;
    height: 50px;
    font-size: 23px;
    border-radius: 15px;

    background-color: var(--tone2);
    color: var(--text);

    text-align: center;
    font-weight: bold;
    transition: all ease-in-out 150ms;
}
#getName:focus
{
    background-color: var(--tone4h5);
    outline: none;
}

#changeLabel:focus
{
    outline: none;
    background-color: var(--tone3);
}

#saveAlarm
{
    width: 130px;
    height: 60px;
    border-radius: 20px;
    font-size: 23px;

    font-weight: bold;
    text-align: center;

    background-color: var(--tone4h5);
    color: var(--text);
    transition: all ease-in-out 150ms;
}
#saveAlarm:hover
{
    cursor: pointer;
    background-color: var(--tone4);
}

.alarmObjectContainer
{
    width: 100%;
    gap: 20px;    
    padding-left: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.editMode
{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    opacity: 0;
    
    background-color: var(--tone4);
    cursor: initial;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(-100px);
    pointer-events: none;
    transition: all ease-in-out 150ms;
}
.editMode img
{
    width: 40px;
    height: 40px;
}
.editMode:hover
{
    background-color: var(--tone3);
    cursor: pointer;
}
.editMode.show
{
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

.alarmObject
{
    font-size: 18px;
    width: 80%;
    border-radius: 25px;

    background-color: var(--tone4h5);
    transition: all ease-in-out 150ms;
}
.alarmObject:hover
{
    background-color: var(--tone4);
    cursor: pointer;
}
.alarmObject > p
{
    display: flex;
    flex-direction: row;
}
.alarmName
{
    margin: 15px 0 15px 20px;
}
.alarmHour
{
    margin: 0 0 0 15px;
    font-size: 40px;
}
.alarmRepeat
{
    margin: 15px 0 15px 20px;
}
.alarmThickness
{
    margin: 15px 30px 15px 0;
}
.alarmInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.alarmData
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alarmCheckbox:checked + .slider::after
{
    transform: translateX(40px);
}

.alarmCheckbox:checked + .slider
{
    background-color: var(--tone3);
}